body {
background-color: grey;
}

.one {
color: black;
font-family: verdana;
font-size: 300%;
text-align: center;
width: 350px;
background: #fc0;
padding: 5px;
border: solid 1px black;
float: left;
position: relative;
top: 40px;
left: 70px;
}